.ipynb_checkpoints/
cifar-10-batches-py/
data/
gan_images/
gan_images_centralized/
MNIST/
cifar-10-python.tar.gz
*.pyc
experiments_folder/current_dir/
experiments_folder/Final_dataset/
experiments_folder/logs/
experiments_folder/mnist_datasets/
experiments_folder/mnist_final_splits/
experiments_folder/mnist_splits/
experiments_folder/mnist_splits_noniid/
experiments_folder/mnist_splits_noniid_clients_2/
experiments_folder/Original_MNIST_Dataset
experiments_folder/PFL-Non-IID
experiments_folder/store_datasets
experiments_folder/store_folders
experiments_folder/store_mnist

GAN_server/


mnist_final_splits/
mnist_splits_noniid_clients_2
Original_MNIST_Dataset
mnist_splits_*/
*.out
Federated_images_mnist*/
GAN_server_mnist*/

